In [2]:
#Import Modules
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import time
import os

#Import API key
from api_keys import g_key

# Configure gmaps
# gmaps.configure(api_key=g_key)
# gmaps.configure(api_key="AIzaSyAP3XU8hjEOMan7VySE6AYBhCf_qnFP7l0")
gmaps.configure(api_key=g_key)

In [3]:
path = "cities.csv"
city_df = pd.read_csv(path)
city_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

In [4]:

#Create a heatmap of humidity of cities
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    city_df[["Lat", "Lng"]], weights=city_df['Humidity'],
    max_intensity=100, point_radius=3, dissipating=False
)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:

#Create a dataframe of cities with the ideal weather
ideal_df = city_df[(city_df['Max Temp'] < 75) &
                   (city_df['Max Temp'] > 60) &
                   (city_df['Wind Speed'] < 10) &
                   (city_df['Humidity'] < 40)].reset_index(drop=True)

In [6]:
ideal_df['Hotel Name'] = ""

ideal_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44,
1,30,gobabis,0,NaN,1558378567,24,-22.45,18.97,68.00,2.24,
2,107,whitehorse,40,CA,1558378774,36,60.72,-135.06,64.00,3.36,
3,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20,
4,261,fort frances,1,CA,1558378834,38,48.61,-93.40,63.00,9.17,
5,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05,
6,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,
7,455,anqing,55,CN,1558378882,34,30.51,117.04,64.68,4.05,
8,468,san cristobal,75,EC,1558378885,37,-0.39,-78.55,71.60,4.70,

In [7]:
#Base url for api call
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Set up parameters dictionary for api call
params = {
    'rankby': 'distance',
    'keyword': 'hotel',
    'key': g_key
}

#Create loop to retrieve latitude and longitude data and run api call
for index, row in ideal_df.iterrows():
    lat = row['Lat']
    lon = row['Lng']
    
    #Add location to parameters
    params['location'] = f"{lat},{lon}"
    #Make request
    hotel_json = requests.get(base_url, params=params).json()
    
    #Add hotel name to dataframe
    if hotel_json['status'] == 'OK':
        ideal_df.loc[index, 'Hotel Name'] = hotel_json['results'][0]['name']
    else:
        pass

In [8]:
#Using template to add hotel markers to map
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
#Collect the hotel name, city and country from the dataframe
hotel_info = [info_box_template.format(**row) for index, row in ideal_df.iterrows()]

In [9]:
#Create a map with markers for hotels
hotel_layer = gmaps.marker_layer(
    ideal_df[["Lat", "Lng"]],
    info_box_content=hotel_info
)

fig = gmaps.figure()
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:

#Create a combined map
fig = gmaps.figure()

fig.add_layer(heatmap_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))