In [16]:
#Import Modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import gmaps

#Import API key
from api_keys import g_key

# Configure gmaps
# gmaps.configure(api_key=g_key)
gmaps.configure(api_key="AIzaSyAP3XU8hjEOMan7VySE6AYBhCf_qnFP7l0")

In [17]:
path = "cities.csv"
city_df = pd.read_csv(path)
city_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

In [20]:
city_df.describe

<bound method NDFrame.describe of      City_ID               City  Cloudiness Country        Date  Humidity  \
0          0          ostrovnoy           2      RU  1558378754        72
1          1          mahebourg          75      MU  1558378503        74
2          2            qaanaaq          25      GL  1558378755        73
3          3             zhuhai           0      CN  1558378755        39
4          4          cape town          20      ZA  1558378755        76
5          5             atuona          78      PF  1558378755        76
6          6           flinders           0      AU  1558378755        62
7          7              opuwo           0     NaN  1558378523        23
8          8              tiksi          95      RU  1558378756        88
9          9  pushkinskiye gory           6      RU  1558378756        70
10        10             aykhal          90      RU  1558378756        48
11        11             castro           0      CL  1558378756        70
12        12             avarua         100      CK  1558378756        94
13        13          saskylakh           0      RU  1558378757        91
14        14       constitucion           5      MX  1558378757         4
15        15             albany          40      US  1558378727        45
16        16           vilyuysk          16      RU  1558378757        59
17        17            ushuaia          75      AR  1558378606        75
18        18    bambous virieux          75      MU  1558378758        74
19        19            kodinsk          14      RU  1558378758        81
20        20             teknaf           1      BD  1558378758        85
21        21          busselton          84      AU  1558378758        63
22        22              ambon          11      FR  1558378758        93
23        23           maragogi          97      BR  1558378610        69
24        24             fallon          90      US  1558378758        53
25        25            kantang          20      TH  1558378759        94
26        26        colonelganj           0      IN  1558378759        14
27        27       punta arenas          40      CL  1558378759        61
28        28            rikitea          95      PF  1558378669        76
29        29        new norfolk          40      AU  1558378759        66
..       ...                ...         ...     ...         ...       ...
518      518             bonito           0      BR  1558378893        49
519      519      saint anthony          90      US  1558378893        81
520      520       high prairie           0      CA  1558378893        34
521      521          high rock          75      BS  1558378893        83
522      522          raudeberg          20      NO  1558378894        76
523      523          kununurra          75      AU  1558378894        58
524      524          mogadishu          79      SO  1558378801        79
525      525              mecca           1      SA  1558378872        48
526      526             viedma          14      AR  1558378894        41
527      527           tomatlan           0      MX  1558378894        59
528      528             lyuban          39      BY  1558378625        68
529      529          bonavista          59      CA  1558378895        74
530      530             hirara          37      JP  1558378895        67
531      531            russell          75      AR  1558378895        71
532      532         burns lake          66      CA  1558378895        62
533      533            hakkari           0      FI  1558378896        46
534      534             marzuq          84      YE  1558378896        36
535      535       villaviciosa          20      ES  1558378896        71
536      536             padang         100      ID  1558378896        82
537      537              matam           1      SN  1558378897        14
538      538   la seyne-sur-mer           0      FR  1558378897        72
539      539               palu          72      ID  1558378897        80
540      540           talmenka          40      RU  1558378897        76
541      541           tamworth          64      AU  1558378897        87
542      542              perth          20      GB  1558378872        82
543      543             yabrud           0      SY  1558378840        32
544      544            paraiso           5      MX  1558378898         4
545      545            veraval           0      FR  1558378898        62
546      546        novyy urgal         100      RU  1558378899        93
547      547            tongren           4      CN  1558378899        64

       Lat     Lng  Max Temp  Wind Speed
0    68.05   39.51     37.50        7.16
1   -20.41   57.70     78.80       11.41
2    77.48  -69.36     22.20        2.37
3    40.71  112.04     44.60        4.47
4   -33.93   18.42     55.99        8.05
5    -9.80 -139.03     81.96       16.49
6   -34.58  150.85     60.01       11.41
7   -18.06   13.84     72.06        5.44
8    71.64  128.87     14.10       15.70
9    57.02   28.91     65.04        6.93
10   65.95  111.51     39.20       11.18
11  -42.48  -73.76     48.20        9.17
12  -21.21 -159.78     71.60        2.24
13   71.97  114.09      4.92        2.26
14   23.99 -104.67     84.20       16.11
15   42.65  -73.75     82.40       12.75
16   63.75  121.63     34.62        5.84
17  -54.81  -68.31     44.60       36.91
18  -20.34   57.76     78.80       11.41
19   58.60   99.18     48.84        4.97
20   20.86   92.31     84.66        8.23
21  -33.64  115.35     55.00       12.86
22   47.55   -2.56     64.99        5.82
23   -9.01  -35.22     83.94        9.42
24   46.84 -105.12     51.80       18.34
25    7.42   99.52     78.80        6.93
26   27.13   81.70     94.20        5.08
27  -53.16  -70.91     50.00       46.08
28  -23.12 -134.97     74.58       12.82
29  -42.78  147.06     57.99        5.82
..     ...     ...       ...         ...
518 -21.13  -56.49     84.30        7.72
519  43.97 -111.68     45.00        3.36
520  55.43 -116.48     61.80       16.46
521  26.63  -78.28     75.20       12.75
522  61.99    5.14     69.80        4.70
523 -15.77  128.74     82.40        6.93
524   2.04   45.34     80.88        9.78
525  21.43   39.83     88.62        1.74
526 -40.81  -62.99     58.56       10.98
527  19.93 -105.25     84.66        7.90
528  52.80   28.00     67.92       12.15
529  48.65  -53.11     44.01       15.99
530  24.80  125.28     75.48       26.15
531 -33.01  -68.80     50.00       12.75
532  54.23 -125.76     56.40        5.21
533  61.34   23.75     69.80        5.82
534  14.40   46.47     79.44        6.02
535  43.48   -5.43     59.00        6.93
536  -0.92  100.36     81.24        7.65
537  15.66  -13.26    102.12       11.61
538  43.10    5.88     69.01        2.24
539  -0.90  119.87     78.72        3.83
540  53.82   83.56     51.80       11.18
541 -31.09  150.93     44.60        5.82
542  56.40   -3.43     59.00        3.36
543  33.97   36.66     80.60        8.05
544  24.01 -104.61     84.20       16.11
545  49.65    0.71     61.00        8.05
546  51.07  132.56     49.74        2.68
547  27.72  109.18     55.86        2.84

[548 rows x 10 columns]>

In [18]:

#Create a heatmap of humidity of cities
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    city_df[["Lat", "Lng"]], weights=city_df['Humidity'],
    max_intensity=100, point_radius=3, dissipating=False
)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:

#Create a dataframe of cities with the ideal weather
ideal_df = city_df[
                   (city_df['Wind Speed'] < 10) &
                   (city_df['Humidity'] < 40)].reset_index(drop=True)

In [22]:
ideal_df['Hotel Name'] = ""

ideal_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47,
1,7,opuwo,0,NaN,1558378523,23,-18.06,13.84,72.06,5.44,
2,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08,
3,30,gobabis,0,NaN,1558378567,24,-22.45,18.97,68.00,2.24,
4,42,yellowknife,75,CA,1558378762,26,62.45,-114.38,55.40,8.05,
5,52,taybad,78,IR,1558378763,18,34.74,60.78,80.16,4.88,
6,62,thompson,75,CA,1558378765,35,55.74,-97.86,57.20,3.36,
7,107,whitehorse,40,CA,1558378774,36,60.72,-135.06,64.00,3.36,
8,109,bara,45,NG,1558378774,25,10.41,10.60,96.54,4.99,
9,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36,
10,151,coahuayana,1,MX,1558378783,22,18.62,-100.35,100.50,4.38,
11,156,narsaq,20,GL,1558378784,28,60.91,-46.05,57.20,9.17,
12,167,yumen,2,CN,1558378785,10,40.29,97.04,59.10,1.50,
13,227,tabas,100,IR,1558378798,18,33.60,56.92,89.60,9.17,
14,259,hami,0,CN,1558378834,11,42.84,93.51,69.72,6.20,
15,261,fort frances,1,CA,1558378834,38,48.61,-93.40,63.00,9.17,
16,267,zaraza,97,VE,1558378836,22,9.35,-65.33,101.04,8.61,
17,299,jiuquan,0,CN,1558378844,14,39.73,98.49,59.64,5.50,
18,306,chunhuhub,5,MX,1558378846,35,19.59,-88.59,96.72,7.02,
19,308,nioro,76,GM,1558378846,15,13.79,-15.05,101.40,6.02,
20,330,biltine,93,TD,1558378853,13,14.53,20.93,101.76,6.87,
21,340,la libertad,0,PE,1558378855,36,-16.38,-71.56,64.40,8.05,
22,353,darhan,32,MN,1558378857,36,49.49,105.92,51.72,1.70,
23,362,datong,0,CN,1558378858,23,40.09,113.30,55.32,9.44,
24,379,auki,83,NG,1558378862,26,12.18,6.51,98.88,6.08,
25,403,wawa,90,NG,1558378872,38,9.90,4.41,94.92,4.88,
26,416,kirkuk,0,IQ,1558378874,16,35.47,44.40,86.82,7.36,
27,424,arenapolis,27,BR,1558378876,34,-14.45,-56.85,89.52,3.94,
28,442,kokstad,51,ZA,1558378831,33,-30.55,29.42,57.12,3.65,
29,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,
30,454,altagracia de orituco,96,VE,1558378882,33,9.86,-66.38,89.52,5.26,
31,455,anqing,55,CN,1558378882,34,30.51,117.04,64.68,4.05,
32,468,san cristobal,75,EC,1558378885,37,-0.39,-78.55,71.60,4.70,
33,487,pinotepa de don luis,21,MX,1558378888,37,16.43,-97.98,95.10,7.47,
34,489,bonfim,20,BR,1558378888,39,-20.33,-44.24,82.40,8.05,
35,500,mandalgovi,0,MN,1558378890,36,45.76,106.27,48.66,1.34,
36,510,atar,1,MR,1558378892,12,20.52,-13.05,95.00,9.17,
37,515,madaoua,71,NE,1558378892,18,14.07,5.96,104.10,3.36,
38,534,marzuq,84,YE,1558378896,36,14.40,46.47,79.44,6.02,
39,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05,

In [25]:
#Base url for api call
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Set up parameters dictionary for api call
params = {
    'rankby': 'distance',
    'keyword': 'hotel',
    'key': g_key
}

#Create loop to retrieve latitude and longitude data and run api call
for index, row in ideal_df.iterrows():
    lat = row['Lat']
    lon = row['Lng']
    
    #Add location to parameters
    params['location'] = f"{lat},{lon}"
    #Make request
    hotel_json = requests.get(base_url, params=params).json()
    
    #Add hotel name to dataframe
    if hotel_json['status'] == 'OK':
        ideal_df.loc[index, 'Hotel Name'] = hotel_json['results'][0]['name']
    else:
        pass

In [26]:
#Using template to add hotel markers to map
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
#Collect the hotel name, city and country from the dataframe
hotel_info = [info_box_template.format(**row) for index, row in ideal_df.iterrows()]

In [28]:
#Create a map with markers for hotels
hotel_layer = gmaps.marker_layer(
    ideal_df[["Lat", "Lng"]],
    info_box_content=hotel_info
)

fig = gmaps.figure()
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:

#Create a combined map
fig = gmaps.figure()

fig.add_layer(heatmap_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))